/**
 * Motive News Layout
 */

body {
	font-family: Lora, Georgia, serif;
}

.navigation, .text-font, .review-box, .main-head .centered .date {
	font-family: Lora, Georgia, serif;	
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
	font-family: Volkhov, Georgia, serif;
	font-weight: 400;
}

.top-bar { background: #fff; }


/* Navigation */

.navigation.alt .mobile-menu {
	font-size: 13px;	
}

.navigation.alt .mobile-menu > li > a {
	font-size: 14px;
}

.navigation .menu ul .menu-item-has-children > a:after {
	margin-top: 0;
	margin-top: -5px;
}

/* Homepage Blocks */

.news-bar .posts-list .post-link {
	margin-top: 7px;
	display: block;	
}

/* General Typography Adjustments */

.breadcrumbs, .section-head, .posts-grid time, .posts-list time, .review-meta .number, .tabbed .tabs-list a, 
.read-more a, .comments-list .post-author, .comment-count, .main-footer .widget-title, .sc-accordion-title a, .sc-toggle-title a, 
.sc-tabs a, .heading-view-all {
	font-family: "Open Sans", Arial, sans-serif;
}

.breadcrumbs .posts-grid time, .posts-list time, .comment-count, .read-more a {
	font-size: 10px;
}

.tabbed .tabs-list a {
	font-size: 13px;
}
	
.comments-list .post-author, .review-meta .number { 
	font-size: 11px;
}
	
.main-footer .widget-title {
	font-size: 14px;
}

.posts-list .post-link, .posts-grid .post-link, .latest-reviews .post-title, 
.navigation.alt .mega-menu.links > li > a, .category-ext .heading, .main-slider .meta h3, 
.slider-split .blocks h3, .gallery-block .post-title, .featured-grid .meta h3, .review-box .heading {
	font-family: Volkhov, Georgia, serif;
	font-weight: normal; 
}

.archive-heading, .more-stories .posts-list .post-link, .news-bar .posts-list .post-link,
.post-header .post-title, .author-info [rel="author"], .comments-list .comment-author {
	font-weight: normal;
}

.main-highlights .first-heading.post-link {
	font-size: 22px;
}

.main-highlights .post-link, .highlights article h2, .gallery-block .post-title, .related-posts .post-link, 
.latest-reviews .posts-grid h3, .more-stories .posts-list .post-link, .listing-grid h2, 
.listing-grid .post-link {
	font-size: 15px;
}

.post-content {
	font-size: 15px;
}

.featured-grid .small .meta h3 {
	font-size: 17px;
}

.main-slider .meta h3, .slider-split .blocks h3 {
	font-size: 20px;
	line-height: 1.65;
	padding: 4px 0;
}

.slider-split .blocks h3 {
	font-size: 16px;
	padding: 2px 0;
	padding-bottom: 3px;
}

.comment-form label {
	font-weight: normal;
}
